/* responssive for mobaile device */

@media screen and (max-width: 576px) {
    #nav-container .menu, #sub-btn {        /* nav responssive */
        display: none;
    }

    #nav-container .menu-icon {
        display: block;
    }

    #banner .banner-container .image img {      /* banner responssive */
        padding: 40px 60px;
        width: 200px;
        height: auto;
    }

    #banner .banner-container h3 {
        font-size: 40px;
    }

    #banner .banner-container .image .new {
        position: absolute;
        top: 6px;
        right: 12px;
        padding: 4px 8px;
    }

    #podcast {                                  /* podcast responssive */
        padding: 0px 0 40px 0;
    }

    #podcast .podcast-content h2 {
        font-size: 32px;
    }

    #podcast .podcast-rating {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        margin-top: 80px;
    }

    #why-techwave .techwave-container {         /* Why-techwave responssive */
        grid-template-columns: 1fr;
        padding-bottom: 40px;
    }

    #why-techwave h2 {
        font-size: 28px;
        padding-top: 70px;
    }

    #why-techwave .techwave-container .headphone {
        grid-column: 1/1 !important;
    }

    #episodes .episodes-cards {             /* episodes responssive */
        flex-direction: column;
    }

    #episodes .episodes-container {
        padding: 40px 0;
    }

    #meet {                             /* meet responssive */
        padding-top: 0;
    }

    .meet-container {
        padding-bottom: 20px;
    }

    .meet-container .host-container {
        flex-direction: column;
        align-content: center;
        margin-top: 24px;
    }

    .meet-container .host-container p, h2 {
        text-align: center;
    }

    .meet-container h2 {
        font-size: 32px !important;
    }

    .meet-container .host-container .socials .icons {
        width: 30px;
        height: 30px;
    }

    footer .footer-container .social-links {          /* footer responssive */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0px;
        row-gap: 16px;
    }

    footer .footer-container  h2 {
    font-size: 40px;
}

    footer {
        padding: 40px 0;
    }

    
}